@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* UI & surface colors */

  --bg-primary: #ffffff;
  --bg-secondary: #8c8c8c;

  --text-primary: #fff;
  --text-secondary: #c0bfc4;

  /* Brand colors */
  --basket_orange-50: #fff6ed;
  --basket_orange-100: #ffead4;
  --basket_orange-200: #ffd1a8;
  --basket_orange-300: #ffb070;
  --basket_orange-400: #ff8337;
  --basket_orange-500: #ff6617;
  --basket_orange-600: #f04606;
  --basket_orange-700: #c73207;
  --basket_orange-800: #9e280e;
  --basket_orange-900: #7f240f;
  --basket_orange-950: #450f05;

  --basket_blue-50: #e9f7ff;
  --basket_blue-100: #ceedff;
  --basket_blue-200: #a7e1ff;
  --basket_blue-300: #6bd2ff;
  --basket_blue-400: #26b6ff;
  --basket_blue-500: #008bff;
  --basket_blue-600: #0061ff;
  --basket_blue-700: #0046ff;
  --basket_blue-800: #003be6;
  --basket_blue-900: #001f4b;
  --basket_blue-950: #000c24;
}

html,
body {
  font-family: "Inter", sans-serif;
  @apply overflow-x-hidden !bg-basket_blue-950 text-primary;
  scroll-behavior: smooth !important;
}

/* fonts */

.text-shadow {
  text-shadow: 3px 3px 3px #000;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 12px !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

body::-webkit-scrollbar-track {
  background: var(--basket_blue-900);
  border-radius: 4px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(246 93 42 / 0.7);
  border-radius: 20px;
  border: 1px solid rgb(246 93 42 / 0.7);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.styled-scrollbar::-webkit-scrollbar {
  width: 12px !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: var(--basket_blue-900);
  border-radius: 4px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(246 93 42 / 0.7);
  border-radius: 20px;
  border: 1px solid rgb(246 93 42 / 0.7);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* navbar dropdown */
.box-info {
  @apply flex flex-col items-start justify-start rounded-xl border-2 border-solid border-basket_orange-500 bg-basket_blue-900 p-3 shadow-md shadow-basket_orange-950;
}

.underline-animation,
.underline-animation-event {
  position: relative;
  display: flex;
  align-items: center;
}

.underline-animation::after,
.underline-animation-event::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: 0px;
  background: var(--basket_orange-500);
  height: 2px;
  transition: 0.3s ease-out;
}

.underline-animation-event:hover::after {
  width: 70%;
}

.underline-animation:hover::after {
  width: 100%;
}

/* buttons */
.btn {
  border: 2px solid var(--basket_orange-500);
  outline: none;
  background-color: var(--basket_blue-900);
  padding: 10px 20px;
  font-weight: 700;
  color: #fff;
  border-radius: 10px;
  transition: all ease 0.1s;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.btn:active {
  transform: translateY(5px);
}

.btn-disabled {
  border: 2px solid #a9a8b0;
  outline: none;
  background-color: #27272c;
  padding: 10px 20px;
  font-weight: 700;
  color: #fff;
  border-radius: 10px;
  transition: all ease 0.1s;
}

.btn-disabled:active {
  transform: translateY(5px);
}

.btn.priority {
  border: 2px solid var(--basket_orange-500);
  outline: none;
  background-color: var(--basket_orange-500);
  padding: 10px 20px;
  font-weight: 700;
  color: #fff;
  border-radius: 10px;
  transition: all ease 0.1s;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

/* timing for animations */
.transition-time {
  @apply transition-all duration-300 ease-in-out;
}

.gold-text {
  color: transparent;
  font-weight: bold;
  background-clip: text;
  background-image: radial-gradient(circle, #e2ab49 40%, #f5d769 80%);
}

.gold-border {
  border: 2px solid var(--basket_orange-500);
}

.card {
  transition: 0.3s ease-out;
}

@media (min-width: 768px) {
  .card:hover {
    /* border-bottom-right-radius: 50px;
    border-top-left-radius: 50px; */
    transform: scale(1.05);
  }
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  gap: 15px;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  padding: 8px 16px;
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  transition: 0.3s ease-out;
  background-color: var(--basket_orange-500);
}

.cheking-name-length {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.metal-yellow-text {
  font-weight: 800;
  color: transparent;
  font-weight: bold;
  background-clip: text;
  background-image: radial-gradient(
    circle,
    rgb(236, 218, 20) 0%,
    rgb(227, 243, 6) 46%,
    rgb(164, 174, 20) 100%
  );
}

.gold-gradient {
  background-image: radial-gradient(
    circle,
    var(--basket_orange-950) 40%,
    var(--basket_orange-800) 80%
  );
}

.inset_gold_border {
  border: 2px inset var(--basket_orange-500);
  border-radius: 10px;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

input.invalid {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.6rem #ff0000;
}

div.invalid {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.6rem #ff0000;
}

div.warning {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.6rem #ffff00;
}

.box-shadow-class {
  box-shadow: 1px 4px 10px 3px rgba(0, 0, 0, 0.81);
}

.golden-gradient {
  background: rgb(240, 182, 57);
  background: linear-gradient(
    147deg,
    rgba(240, 182, 57, 1) 0%,
    rgba(254, 255, 134, 1) 50%,
    rgba(253, 187, 45, 1) 100%
  );
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-basket_orange-500);
  gap: 5px;
  user-select: none;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .pagination {
    max-width: 350px;
  }
}

.pagination .page-num {
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  font-size: 18px !important;
}

.pagination .page-num:hover {
  @apply bg-white/30;
}

.pagination .disabled {
  display: none;
}

.pagination .active {
  @apply bg-white/30;
}

.checkboxtoggler {
  width: 3em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  cursor: pointer;
}

.line-1 {
  background: #fff;
  height: 0.3em;
  border-radius: 10em;
  transition-duration: 500ms;
}

.line-2 {
  background: #fff;
  height: 0.3em;
  border-radius: 10em;
  transition-duration: 500ms;
}

.line-3 {
  background: #fff;
  height: 0.3em;
  border-radius: 10em;
  transition-duration: 500ms;
}

#toggleChecker {
  height: 3em;
  width: 100%;
  display: none;
}

#toggleChecker:checked + #togglerLable .checkboxtoggler .line-1 {
  -webkit-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
  -ms-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
  transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
}

#toggleChecker:checked + #togglerLable .checkboxtoggler .line-2 {
  -webkit-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
  -ms-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
  transform: rotate(-45deg) translateY(0em) translateX(0.1em);
}

#toggleChecker:checked + #togglerLable .checkboxtoggler .line-3 {
  transform: scaleX(0);
  transform-origin: left;
}

input[type="date"] {
  color: #fff !important;
  filter: brightness(100%);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: block;
  background: url("/image/icons/icone-calendario.png") no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  visibility: visible;
  width: 20px;
  height: 20px;
}

.scroll-modals::-webkit-scrollbar {
  width: 12px !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.scroll-modals::-webkit-scrollbar-track {
  background: black;
  border-radius: 4px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scroll-modals::-webkit-scrollbar-thumb {
  background-color: var(--basket_orange-500);
  border-radius: 20px;
  border: 1px solid var(--basket_orange-500);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* downlaod button */

.download_btn {
  width: 50px;
  height: 50px;
  border: 2px solid var(--basket_orange-500);
  border-radius: 50%;
  background-color: var(--basket_blue-900);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
}
.download_btn:active {
  transform: translateY(5px);
}

.svgIcon {
  fill: var(--basket_orange-500);
  width: 12px;
  height: 16px;
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid var(--basket_orange-500);
  border-left: 2px solid var(--basket_orange-500);
  border-right: 2px solid var(--basket_orange-500);
}

.download_btn:hover .tooltip {
  opacity: 1;
  transition-duration: 0.3s;
}

.download_btn:hover {
  background-color: var(--basket_blue-900);
  transition-duration: 0.3s;
}

/* .download_btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
} */

.download_btn:hover .svgIcon {
  /* fill: rgb(255, 255, 255); */
  animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
