@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* UI & surface colors */

  --bg-primary: #ffffff;
  --bg-secondary: #8c8c8c;

  --text-primary: #fff;
  --text-secondary: #c0bfc4;

  /* Brand colors */
}

html,
body {
  font-family: "Inter", sans-serif;
  @apply overflow-x-hidden !bg-[#131313] text-primary;
  scroll-behavior: smooth !important;
}

/* fonts */
.text-shadow {
  text-shadow: 3px 3px 3px #000;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 12px !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

body::-webkit-scrollbar-track {
  background: var(--basket_blue-900);
  border-radius: 4px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(246 93 42 / 0.7);
  border-radius: 20px;
  border: 1px solid rgb(246 93 42 / 0.7);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* timing for animations */
.transition-time {
  @apply transition-all duration-300 ease-in-out;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-tertiary);
  gap: 5px;
  user-select: none;

  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .pagination {
    max-width: 350px;
  }
}

.pagination .page-num {
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  font-size: 18px !important;
}

.pagination .page-num:hover {
  @apply bg-white/30;
}

.pagination .disabled {
  display: none;
}

.pagination .active {
  @apply bg-white/30;
}
